%header
  %div.header-block
    %ul.nav.navbar-nav.pull-left
      %p.locale

      -#.ru_link
      = link_to image_tag("ru_flag.jpg", alt: "",  style: "width: 5%; height: 5%", title: "Русский" ), locale: :ru
      = link_to image_tag("en_flag.jpg", alt: "",  style: "width: 4.5%; height: 4.5%", title: "English"), locale: :en
      %b
        = I18n.locale
      -#= link_to image_tag("logo.jpg", alt: "",  style: "width: 20%; height: 20%")

    %nav
      %ul.nav.navbar-nav.pull-right

        -#%li= link_to t('.help'), help_path
        - if signed_in?
          -#%li= link_to "Users", '#'

          %ul.nav.navbar-nav.pull-right
            %li= link_to t('.work'), work_path
            %li= link_to t('.profile'), current_user
            -#%li= link_to t('.settings'), '#'
            %li.divider
            %li
              = link_to t('.sign_out'), signout_path, method: "delete"

            %li.logged
              #{current_user.name}
            -#= gravatar_for current_user

        - else
          %li= link_to t('.sign_in'), signin_path
%div.empty